
<!DOCTYPE html>
<html>
    <!-- {# template called by dashboard.signature_upload_form() #} -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Octad Portal | signature upload</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/optraIcon.png') }}" type="image/x-icon">

    {% include 'base/css_links.html' %}
</head>

<body class=""><!-- mini-navbar -->
    <div id="wrapper">

      {% include 'base/navBar.html' %}

      <div class="navbar-header navToggleBtn">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary m-n" href="#"><i class="fa fa-bars"></i> </a>
      </div>

      {% include 'base/header.html' %}

        <div id="page-wrapper" class="gray-bg sideNavBody"><!-- btmNavBody -->
            <div class="wrapper wrapper-content full-height">
                <div class="row m-n">
                    <div class="col-lg-12" style="padding:0;">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h3><span class = "boldheader">Upload Signature File</span></h3>
                            </div>
 
                            <form class="form-horizontal" action="{% url_for('process_signature') %}" method="get">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="file">Signature File:</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" id="file">
                                    </div>
                                <p class="help-block">Select a file in proper signature format (link to help)</p>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="email">Email:</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="email" placeholder="email address for job updates">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="jobname">Name for this job:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="jobname" placeholder="Enter short jobname">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <div class="checkbox">
                                            <label><input type="checkbox">Checkbox</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit Job</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'base/footer.html' %}
    </div>
      {% include 'base/js_links.html' %}

      {# TODO modal pop-up confirming job submission, if no user id (anonymous), then give instructions for retriving job #}
</body>
</html>
