
<!DOCTYPE html>
<html>
    <!-- {# template called by dashboard.signature_upload_form() #} -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Octad Portal | signature upload</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/optraIcon.png') }}" type="image/x-icon">

    {% include 'base/css_links.html' %}
</head>

<body class=""><!-- mini-navbar -->
    <div id="wrapper">

      {% include 'base/navBar.html' %}

      <div class="navbar-header navToggleBtn">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary m-n" href="#"><i class="fa fa-bars"></i> </a>
      </div>

      {% include 'base/header.html' %}

        <div id="page-wrapper" class="gray-bg sideNavBody"><!-- btmNavBody -->
            <div class="wrapper wrapper-content full-height">
                <div class="row m-n">
                    <div class="col-lg-12" >
                        <!-- style="padding:0;" -->
                        <!-- <div class="ibox ">
                            <div class="ibox-title"> -->
                                <h3><span class = "boldheader">Upload Signature File</span></h3>
                            <!-- </div> -->
 
                            <form id="uploadForm" class="form-horizontal" enctype=multipart/form-data action="{{ url_for('dashboard.signature_upload_form') }}" method="post">
                                <fieldset>                                    
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="file">Signature File:</label>
                                    <div class="col-sm-10">
                                        <input type="file" class="form-control" name="file" id="file_input"  >
                                        <p class="help-block">Select a file in proper signature format (link to help)</p>
                                    </div>
                                
                                </div>
<!--
				<div class="form-group">
                                    <label class="control-label col-sm-2" for="job_email_input">Email (optional):</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" name="job_email" id="job_email_input"  placeholder="email address for job updates">
                                    </div>
                                </div>
-->
				<div class="form-group">
                                    <label class="control-label col-sm-2" for="job_name">Name for this job (optional):</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="job_name" id="job_name_input"  placeholder="Enter short job name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="job_description">Short Description (optional):</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="job_description" id="job_description_input"  placeholder="Enter short description" />
                                    </div>
                                </div>
                                <h3>Options</h3>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="landmark">Landmark:(must be 1)</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control"  name="landmark" disabled name="landmark" id="landmark_input"  value="1">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="max_gene_size">Max gene size:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="max_gene_size" id="max_gene_size_input"  value="50">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="choose_fda_drugs">FDA Drugs Only?</label>
                                    <div class="col-sm-10">
                                        <input type="checkbox" name="choose_fda_drugs" id="choose_fda_drugs_input"  checked value="True">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Submit Job</button>
                                    </div>
                                </div>
                                </fieldset>
                            </form>
                            <hr/>
                            <div id="result" class="well col-sm-8"></div>
                        </div>
                    </div>
                    <h3>Example Data File</h3>
                    <p>Download an example data file to learn the correct format: <a href="{{ url_for('static',  filename='dz_signature_example.csv') }}">dz_signature_example.csv</a></p>
                <!-- </div> -->
            </div>
        </div>
        {% include 'base/footer.html' %}
    </div>
      {% include 'base/js_links.html' %}

    <script>
        // Attach a submit handler to the form
        $('#result').hide()

        var showresult = function(html){
            $('#result').empty().append(html).show();
        }

        $('#uploadForm').submit(function (e) {
            e.preventDefault();
            var url = this.action;
            console.log(url);
            $.ajax({
                url: url,
                type: 'POST',
                data: new FormData(this),
                processData: false,
                contentType: false,
                success: function (returnedHtml) {
                    console.log('success job submit');
                    showresult(returnedHtml);
                    swal("Compute Job submitted");
                }
            });
        });
    </script>
</body>
<template id="results_template">
    <a href="#" class="list-group-item">
        <div class="image">
            <img src="" />
        </div>
        <p class="list-group-item-text"></p>
    </a>
</template>
</html>
